<%- include('header') %>
<div class="res">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %> 
        dólares na cotação  
        <%= cotacao %> 
        é igual a: 
        <%= conversao %> 
        reais.
    <% } %>
</div>


<%- include('footer') %>